<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">业务id：</label>
                            <div class="col-sm-8">
                                <input id="bizId" name="bizId" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">扭蛋机的名称：</label>
                            <div class="col-sm-8">
                                <input id="name" name="name" class="form-control" type="text" value="美容仪专区">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">扭蛋机的描述：</label>
                            <div class="col-sm-8">
                                <input id="intro" name="intro" class="form-control" type="text"
                                       value="可扭出各类流行美容媒体仪，连扭奖励更高">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">扭蛋机的子描述，第二级别的描述：</label>
                            <div class="col-sm-8">
                                <input id="subIntro" name="subIntro" class="form-control" type="text" value="保底50元奖励">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">扭蛋机的图片：</label>
                            <div class="col-sm-8">
                                <input id="pic" name="pic" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">单次需要多少蛋券：</label>
                            <div class="col-sm-8">
                                <input id="priceOnce" name="priceOnce" class="form-control" type="text" value="4">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序：</label>
                            <div class="col-sm-8">
                                <input id="weight" name="weight" class="form-control" type="text" value="190">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/doll/gashapon/add.js">
</script>
</body>
</html>
