<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">娃娃机id：</label>
                            <div class="col-sm-8">
                                <input id="machineId" name="machineId" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">产品id：</label>
                            <div class="col-sm-8">
                                <input id="itemId" name="itemId" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">娃娃机状态：</label>
                            <div class="col-sm-8">
                                <input id="machineStatus" name="machineStatus" class="form-control" type="text"
                                       value="CHECK">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">娃娃机地址：</label>
                            <div class="col-sm-8">
                                <input id="machineAddress" name="machineAddress" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房间：</label>
                            <div class="col-sm-8">
                                <input id="chatRoom" name="chatRoom" class="form-control" type="text"
                                       value="34561527447554">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">主摄像头：</label>
                            <div class="col-sm-8">
                                <input id="mainCamera" name="mainCamera" class="form-control" type="text"
                                       value="rtmp://13513.liveplay.myqcloud.com/live/13513_2028zheng?bizid=13513&txSecret=21aee9f6e3e045a946b6bdc">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">子摄像头：</label>
                            <div class="col-sm-8">
                                <input id="subCamera" name="subCamera" class="form-control" type="text"
                                       value="rtmp://13513.liveplay.myqcloud.com/live/13513_2028ce?bizid=13513&txSecret=bba54e46e862d5cc368422841f	">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">mac地址：</label>
                            <div class="col-sm-8">
                                <input id="machineMac" name="machineMac" class="form-control" type="text" value="329B25451F46">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/doll/machine/add.js">
</script>
</body>
</html>
